h1{
    text-align: center;
    border: 2px solid hsl(0, 25%, 86%);
    background-color: aliceblue;
    align-content: center;
    box-shadow: 5px 5px 5px hsla(0, 1%, 16%, 0.099);
    width: 350px;
    margin-left: 620px;
    padding: 5px;
}
.head{
    border: 2px solid hsl(0, 12%, 90%);
   padding: 40px;
   border-radius: 5px;
}

input{
    margin-top: 40px;
    margin-left: 600px;
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid hsla(0, 4%, 26%, 0.612);
    border-radius: 2px;
    box-shadow: 2px 2px 2px hsla(0, 3%, 28%, 0.16);

}
.add{
    background-color: hwb(120 10% 89%);
    color: white;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid hsl(0, 12%, 97%);
    box-shadow: 10px 10px 10px rgba(27, 207, 42, 0);
    margin-top: 10px;
    height: 30px;
    margin-left: 3px;
    
}
.card{
    margin-top: 40px;
    margin-left: 600px;
    padding: 10px;
    font-family: sans-serif;
}
